body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #040d19;
}
.container{
    height: 80px;
    width: 80px;
    background: #f20044;
    position: relative;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 90px #f20044;
    animation: Beating .6s linear infinite;
    cursor: pointer;
}

@keyframes Beating{
    0%{
        transform: rotate(-45deg) scale(1.07)
    }
    80%{
        transform: rotate(-45deg) scale(1.0)
    }
    100%{
        transform: rotate(-45deg) scale(1.08)
    }
}

.container .shape1{
    position: absolute;
    height: 80px;
    width: 80px;
    background: #f20044;
    top: -40px;
    border-radius: 50px;
    box-shadow: -10px 10px 90px #f20044;
}
.container .shape2{
    position: absolute;
    height: 80px;
    width: 80px;
    background: #f20044;
    right: -40px;
    border-radius: 50px;
    box-shadow: -10px 10px 90px #f20044;
}



















